# Copyright (c) 2021 The ZMK Contributors
# SPDX-License-Identifier: MIT

config BOARD_GO60_LH
    bool "Go60 LH"
    depends on SOC_NRF52840_QIAA

config BOARD_GO60_RH
    bool "Go60 RH"
    depends on SOC_NRF52840_QIAA
