config SHIELD_GLOVE80_DONGLE
	def_bool $(shields_list_contains,glove80_dongle_central)

config SHIELD_GLOVE80_LH
	def_bool $(shields_list_contains,glove80_dongle_left)

config SHIELD_GLOVE80_RH
	def_bool $(shields_list_contains,glove80_dongle_right)
